
body {
    font-family: latex-font;
    scroll-behavior: smooth;
}

main {
    margin: 100px 200px 200px 500px;
    font-size: 1.3rem;
}

figure {
    width: 800px;
    height: 550px;
    margin: 30px calc(50% - 400px);
}

.figure {
    margin: 0 0 20px 0;
    overflow: hidden;
    width: 100%;
    height: 500px;
    border-radius: 10px;
}

.figure-caption {
    color: var(--txt-d);
}

.figure > inner {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
} 

.figure mathnode * {
    transition: 200ms;
} 

.half-figure {
    display: inline-block;
    width: calc(50% - 10px);
    height: 100%;
    margin: 0 5px;
}

.figure-math {
    position: absolute;
    left: 20px; 
    top : 20px; 
    font-size: 1.8rem;
    user-select: none;
}

hidden {
    display: flex;
    flex-direction: column;

    overflow: hidden;
    transition: 200ms;

    width: 100%;
    background-color: var(--bg-l);
    border-radius: 10px;
    padding: 0 20px 10px 20px;

    margin: 20px 0;

    max-height: calc(1.3em + 20px);
}

hidden.expanded {
    max-height: none;
}

hidden > .top {
    top: 0;
    position: sticky;
    padding: 10px 0;
    border-bottom: 1px solid var(--bg-lll);
    margin-bottom: 10px;
}

hidden > .top > span::after {
    content: " — Click to expand";
    color: var(--txt-d);    
}

hidden.expanded > .top > span::after {
    content: " — Click to collapse";
}

hidden > .top:hover > span::after {
    color: var(--txt);    
}

def, prop {
    margin: 10px 0;
    display: block;
}

.bold {
    font-weight: bold;
}

.space {
    display: inline-block;
    width: 2em;
}

.reset-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.3;
    padding: 3px;
    font-size: 0.8rem;
}

.reset-btn:hover {
    opacity: 1;
}

pagelink {
    cursor: pointer;
    text-decoration: underline;
    font-family: cascadia-code;
    font-size: 0.85em;
}

.figure-label {
    user-select: none;
    position: absolute;
    transform: translateX(-50%);
    padding-top: 5px;
    text-shadow: black 0 0 5px, black 0 0 5px;
}

aside {
    position: fixed;
    left: 50px;
    top: 100px;
    background-color: var(--bg-l);
    border-radius: 10px;
    padding: 20px;
    width: 400px;
}

aside #summary-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

aside a {
    display: block;
    margin-bottom: 5px;
}

@media screen and (max-width: 1400px) {
    main {
        margin: 100px 50px 200px 300px;
    }

    aside {
        left: 20px;
        width: 260px;
    }
}

@media screen and (max-width: 1200px) {
    aside {
        position: static;
        width: 100%;
        border-radius: 0;
    }

    main {
        margin: 50px 20px 100px 20px;
        font-size: 1.1rem;
    }

    figure {
        margin: 30px 0;
        width: 100%;
        height: calc(0.68 * (100vw - 40px));
    }
  
    .figure {
        height: calc(0.68 * (100vw - 40px) - 50px);
    }
    
    .figure-math {
        font-size: 1.1rem;
        left: 10px;
        top: 10px;
    }

    summary > a {
        display: inline;
        margin-right: 20px;
    }
}

